.cache*
.settings/*
.project
.settings
.cache
.target
*.class
target
project/target
project/project
log
*log
logs
logs/*
tmp
logFile*
.DS_STORE
.DS_STORE?
error.log
admin.log
bin
.classpath
.settings/org.scala-ide.sdt.core.prefs
.cache-tests
/proteus/
