<configuration>



    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{ISO8601} %highlight(%-5level) [%boldCyan(%logger) %line] [%boldYellow(%method %F) ] - %boldWhite(%message) %n %red(%ex)
			</pattern>
		</encoder>
	</appender>


    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>